.superior {
	height:53px;
	width:100%;
	background-color:#009688;
	-webkit-box-shadow: 0px 3px 17px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 17px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 17px 0px rgba(50, 50, 50, 0.75);
	position:fixed;
	top: 0px;
	z-index:10
}

.evento{
background-color:#26a69a;
padding-top:100px;
padding-bottom:100px;
color:white;
font-family:'roboto';
font-size:17px;
text-align:justify;
}

.agenda{
padding-top:100px;
padding-bottom:100px;
color:#404041;
font-family:'roboto';
font-size:17px;
text-align:justify;
background-color:#FFFFFF;
}

.inscricao{
padding-top:100px;
padding-bottom:100px;
color:#404041;
font-family:'roboto';
font-size:17px;
text-align:justify;
background-color:#FFFFFF;
}

.realizacao{
padding-top:100px;
padding-bottom:100px;
color:#404041;
font-family:'roboto';
font-size:17px;
text-align:justify;
}

.rural{
padding-top:100px;
padding-bottom:100px;
color:#404041;
font-family:'roboto';
font-size:17px;
text-align:justify;
background-color:#E6E7E8
}

.contato{
padding-top:70px;
padding-bottom:30px;
color:#FFFFFF;
font-family:'roboto';
font-size:17px;
text-align:justify;
background-color:#00695c;
text-align:center
}

.destaque{
	font-size:30px;
	font-family:inherit;
}
.binscricao {
	padding:15px;
	font-size:25px;
	text-align:center;
	border-color:#009688;
	border-style:solid;
	border-width:thin;
	color:#007D75;
	margin:auto;
	width:336px;
	font-family:Arial;
	font-weight:bold;
	background-color:white;
}


.binscricao:hover {
	padding:15px;
	font-size:25px;
	background-color:#009688;
	color:#FFFFFF;
	margin:auto;
	width:336px;
	font-family:Arial;
	font-weight:bold;
	transition-property:all;
	transition-duration:0.2s;
}

.box {
height:25px;
width:100%;

}

.login {
	float:right;
	width:220px;
	margin-right:30px;
	padding: 40px 20px 40px 20px;
	background-color:#009688;
	color:#FFFFFF;
	font-family:'roboto';
	}

.loginin {
	margin:auto;
	width:220px;
	margin-top:100px;
	margin-bottom:100px;
	padding: 40px 20px 40px 20px;
	background-color:#009688;
	color:#FFFFFF;
	font-family:'roboto';
	font-size:16px;
	}