body{
    overflow: hidden;
    font-family: 'Baloo Bhaijaan', cursive;
}

.home{
    background-image: url(../images/bg-home-png.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
}

.text-home{
    padding-top: 60px
}

.em-breve{
    padding-top: 150px;
    color: white;
}