@charset "utf-8";
.item{
	width:900px;
	margin: 0px 0px 5px -5px;
}
.horaitem {
	width:100px;
	float:left;
	text-align:center;
	padding:18px 0px 18px 0px;
	background-color:#009688;
	color:white;
}
.tituloitem {
	width:790px;
	padding-left:10px;
	padding-top:10px;
	float:left;
	font-size:18px;
	background-color:#009688;
	color:white;
}
.nomeitem {
	width:790px;
	padding-bottom:10px;
	padding-left:110px;
	font-size:13px;
	background-color:#009688;
	color:white;}
.conteudo{
	width:790px;
	padding: 5px 0px 0px 110px;
	color:#666
}